/**
 * Screen.scss
 * Import all modules and files that will be turned into css.
 *
 *
 */

@import "compass";
// @import "modules/foundation/functions";
// @import "modules/foundation/foundation";
@import "modules/vars";
@import "base";
@import "layout";

@import "modules/grid";
@import "modules/masthead";
@import "modules/search";
@import "modules/lists";
@import "modules/icons";
@import "modules/sense-of-place";
@import "modules/callouts";
@import "modules/headings";
@import "modules/forms";
@import "modules/buttons";
@import "modules/coaches";
@import "modules/media";
@import "modules/loading";
@import "modules/hero";
@import "modules/slideshow";

.coach {
  padding-left: 1em !important;
}

.screen-reader-text {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

h1, h2, h3, h4, h5 {
  font-family: $sans-stack;
}

// Pages

.page-content {
  margin: 1em;
  @media screen and (min-width: 40em){
    max-width: 40em;    
    margin: 1em auto;
  }
}

.entry-title {
  margin-bottom: .5em;
}
