/**
 * Hero
 */
.hero {
  position: relative;
}

.hero-image {
  background-color: $aqua;
  height: 486px;
  overflow: hidden;
}

.hero img {
  position: relative;
  left: 50%;
  margin-left: -800px;
  max-width: none;
  display: none;
}

