/**
 * Media object
 */

.media {
  margin-bottom: .5em;
}
.media, .bd {
  overflow:hidden;
  _overflow:visible;
  zoom:1;
  padding-top: .75em;
}
.media .img {float:left; margin-right: 1.25em;}
.media .img img{display:block;}
.media .imgExt{float:right; margin-left: 10px;}