/**
 * Search
 */

.search-area {
  position: absolute;
  top: 12em;
  width: 100%;
  z-index: 101;
  text-align: center;

  .down-arrow-lg {
    display: none;
  }

}

.language-menu {
  display: none;
}

%main-search {
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0,0,0, 0.75);
  cursor: default;
  font-size: 1.5em;
  font-weight: 300;
  display: inline-block;
  padding: .25em 1em;
  width: auto;
  transition: background-color .5s;
}

.main-search-field {
  @extend %main-search;
  background-color: rgba(255,255,255,0.9);
  text-align: center;
  margin-bottom: 1em;
  padding-right: 0.75em;

  &:hover {
    background-color: rgba(255,255,255,1.0);
  }

  &.expanded {
    background-color: #fff;
  }

  .selection {
    font-weight: 700;
  }

  .language {
    cursor: pointer;
    display: inline-block;
  }
}

.main-search-button {
  @extend %main-search;
  background-color: $aqua;
  color: #fff;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
  width: 180px;
  &:hover {
    background-color: #15a8d3;
    color: #fff;
  }
}


@media screen and (min-width: 48em) {
  .search-area {
    .down-arrow-lg {
      display: inline-block;
    } 
  }

  .selection {
    border-bottom: 1px dashed;
  }

  .main-search-field,
  .main-search-button {
    font-size: 1.75em;
    margin-bottom: 0;
  }

  .main-search-field {
    text-align: left;
  }

  .main-search-field .language {
    text-align: center;
    width: 10.5rem;
  } 

  .language-menu {
    color: #777;
    font-size: 1.25rem;
    position: absolute;
    top:4.5rem;
    display: none;

    .active {
      color: $aqua;
      font-weight: 700;
    }

    .active.disabled {
      color: #999;
      font-weight: 300;
    }

    .active.plus {
      color: #111;
    }

    >li {
      cursor: pointer;
    }
  }
}